<div class="container" align='center'>
  <div class="box">
    <h1>All Tasks Reports</h1>
    <table border="3">
      <thead>
        <tr>
          <th>Tasks (ID)</th>
          <th>Title</th>
          <th>Comments</th>
          <th>Status</th>
          <th>Show</th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td>
              <%=task.id %>
            </td>
            <td>
              <%=task.title %>
            </td>
            <td>
              <%if task.comments.present? %>
                <%task.comments.sort_by(&:body).each do |comment| %>
                  <%= comment.body %>,
                <%end%>
              <%else%>
                No comments yet
              <%end %>
            </td>
            <td>
              <%=task.status%>
            </td>
            <td>
              <%# <%=link_to "show task", task_path(task) %> %>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
